/* Write your CSS here! */

* {
  cursor: url(assets/tiny-hand.cur), default;
}

body {
  margin: 8px;

  background-color: #adefd1ff;
  color: #00203fff;
}

#main-header,
footer {
  text-align: center;
}

#screenshot {
  display: inline-block;
  vertical-align: middle;
  max-height: 75%;
  max-width: 75%;
}

/* Ignore below */

#mainHeading {
  color: red;
}

.funParagraph {
  color: green;
}
